.fa-envelope {
    color: black;
    text-decoration: none;
} 
.fa-envelope:hover {
    color: #a9c5f9;
    transition: 1s;
}
.fa-linkedin-in {
    color: black;
    text-decoration: none;
} 
.fa-linkedin-in:hover {
    color: #a9c5f9;
    transition: 1s;
}
@media screen and (max-width: 599px) {
    .fa-envelope {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 25px;
        font-size: 25px;
    }
    .fa-linkedin-in {
        padding: 50px 25px 50px 25px;
        font-size: 25px;
    } 
}   
@media screen and (min-width: 600px) and (max-width: 999px) {
    .fa-envelope {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 25px;
        font-size: 25px;
    }
    .fa-linkedin-in {
        padding: 50px 25px 50px 25px;
        font-size: 25px;
    } 
} 
@media screen and (min-width: 1000px) and (max-width: 1024px) {
    .fa-envelope {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 25px;
        font-size: 30px;
    }
    .fa-linkedin-in {
        padding: 50px 25px 50px 25px;
        font-size: 30px;
    } 
} 
@media screen and (min-width: 1025px) {
    .fa-envelope {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right: 25px;
        font-size: 30px;
    }
    .fa-linkedin-in {
        padding: 50px 25px 50px 25px;
        font-size: 30px;
    } 
}           